{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<h1>Billetterie</h1>

	{{ form_start(bookingForm) }}


	<button type="submit" class="btn btn-lg btn-primary my-3">Register</button>
	{{ form_end(bookingForm) }}
{% endblock %}
