<header>
	<div class="text-center header my-5">
		<div class="mb-5 festTitle">Festival Technonite</div>
		<div class="lead mb-5 red festSent">Du 20 au 22 août</div>
		<div class="lead festSent">les plaques vont bouger et la terre va trembler !</div>
	</div>
</header>
